@model ModifyTicketModel

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">ویرایش تیکت </h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-controller="Ticket" asp-action="UpdateTicket" asp-area="Admin">
        <partial name="_ModifyTicket" model="@Model" />
    </form>
</div>
