@model ModifySectionModel

<input type="hidden" asp-for="Id" />
<div class="card-body">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Title">عنوان</label>
        <input type="text" class="form-control" asp-for="Title" placeholder="عنوان تیکت">
    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="IsActive" />
        <label asp-for="IsActive">فعال </label>
        
    </div>
</div>
<!-- /.card-body -->

<div class="card-footer">
    <button type="submit" class="btn btn-primary">Save</button>
</div>
