@model ModifySectionModel

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">ویرایش بخش </h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-controller="Section" asp-action="UpdateSection" asp-area="Admin">
        <partial name="_ModifySection" model="@Model" />
    </form>
</div>
