
    <div class="mb-2">
        Site Index
    </div>
    <div>
        <form asp-action="login" asp-controller="home" asp-area="" method="post">
            <input  type="submit" value="Login" class="btn btn-primary"/>
        </form>
    </div>

  
